{% extends "layout.html" %}

{% block title %}
    register
{% endblock %}

{% block main %}
    <form action="/register" method="post">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="username" placeholder="ユーザー名" type="text">
        </div>
        <div class="form-group">
            <input class="form-control" name="password" placeholder="パスワード" type="password">
        </div>
        <div class="form-group">
            <input class="form-control" name="confirmation" placeholder="パスワード(再入力)" type="password">
        </div>
        <button class="btn btn-primary" type="submit">登録</button>
    </form>
{% endblock %}